!/code/Codegen.hs
!/code/Declarations.hs
!/code/Exp.hs
!/code/Funcs.hs
!/code/Repr.hs
!/code/Repr.hs
!/code/Tests.hs
!/code/Types.hs
!/code/Util.hs
!/code/Variable.hs
!/code/Vect.hs
/code/.cabal-sandbox/*

/code/Declarations.hs
/code/cabal.sandbox.config
/code/funcs.c

/report/*
/stuff/*

/lens.org
/notes.org
